* {
    font-family: 'Consolas';
    background-color: #191919;
    color: goldenrod;
}

input {
    text-transform: uppercase;
    font-size: large;
    background-color: #4c4c4c;
    color: white;
}

::placeholder {
    text-transform: none;
}